# ───── Секреты и подключения (НИКОГДА не коммитить!) ─────
*.env
.env
.env.*
profiles.yml          # креды dbt
*credential*
*password*
*secret*
.pgpass

# ───── Выгрузки и данные ─────
*.dump
*.sql.gz
*.backup
*.csv
*.tsv
*.xlsx
*.parquet
data/

# ───── Системное ─────
.DS_Store             # macOS
Thumbs.db             # Windows
desktop.ini

# ───── IDE ─────
.idea/                # PyCharm / DataGrip
.vscode/
*.iml

# ───── Python ─────
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# ───── dbt ─────
target/
dbt_packages/
logs/
